* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("Background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
}

.footer {
  padding: 15px 25px;
  background-color: white;
  font-size: 14px;
}

img.pic {
  width: 100px;
}

#main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

table {
  padding: 10px;
  background-color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
  border-radius: 3px 3px 0 0;
  z-index: -1;
}

td {
  width: 115px;
  height: 115px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
  transition: opacity 150ms;
}

.number {
  width: 50px;
  height: 50px;
  margin-top: -75px;
  margin-left: 40px;
  z-index: 1;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0.5;
}
