* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("Background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
}

.footer {
  padding: 15px 25px;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  font-size: 14px;
}

img.pic {
  width: 100px;
  height: 100px;
}

#main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

table {
  background-color: white;
}

tr {
  /*border: 1px solid black;*/
}

td {
  /*border: 1px solid black;*/
  width: 115px;
  height: 115px;
}

img {
  width: 100px;
  height: 100px;
  transition: opacity 150ms;
}

.images {
  width: 100px;
  height: 100px;
  position: relative;
  max-width: 100px;
}

.number {
  width: 50px;
  height: 50px;
  margin-top: -75px;
  margin-left: 40px;
  z-index: 1;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0.5;
}
