// vim: ft=javascript
{
  "env": {
    "production": {
      "comments": false,
      "presets": [
        "@babel/preset-env",
        ["minify", {"keepFnName": false}],
      ],
    },
    "pretty": {
      "presets": [
        "@babel/preset-env",
      ],
    },
  },
}
