p This is a tracker intended for use with the 
  a(href="https://randomizer.valaxor.com" target="_blank") Kingdom Hearts 2 Final Mix Randomizer
  |  by Valaxor, for the 
  a(href="https://docs.google.com/document/d/1GYjEnrM_TIk7qyO75clPLYD-_nP5wTR7K6SE-Wn-QCg/edit" target="_blank") Garden of Assemblage (GoA) Mod
  |  by Sonicshadowsilver2.

p It allows the tracking of progress such as world completion, drive forms, magic, etc. For a more detailed explanation, see Help.

p It was initially developed by Kokemon198, however has since largely been rewritten by Zax with an entirely different codebase. Massive thanks to 
|
a(href="https://www.artstation.com/liamjohnsondesign") Televo
| 
| for providing really nice images that replaced all of the previous ones, and adding new items.

p The GitHub repository with the original code for this site can be found 
  a(href="https://github.com/zaxutic/kh2fm-rando-tracker" target="_blank") here
  | .

p If you have any questions/issues, you can find me in the
  | 
  a(href="https://discord.gg/GcJR7Fv" target="_blank") KH2FM Rando
  |
  | Discord server, Twitter (
  a(href="https://twitter.com/z_ax__" target="_blank") @Z_ax__
  | ), or GitHub. You can also find Televo in the rando Discord for questions regarding their additions.
