p.footnote This hasn't been rigorously tested yet. Use at your own risk.

h2 Join Room
form#co_op_join
  .row
    input.long(placeholder="Room ID")
    button(type="submit") Join Room

h2 Create Room
form#co_op_create
  .row
    input.long(placeholder="Room Size")
    button(type="submit") Create Room

.row
  p#room_id

.row
  p.footnote Note: Everyone should join the room BEFORE doing anything on the tracker as the server doesn't save anyone's state, it only tells others what you add to it.

h2 Display Settings
.row
  p Columns
  input#co_op_columns(placeholder="2")
