mixin popup(name, id)
  .popup
    button(id=id)= name
    .content
      .body
        block

footer
  .container
    .info Kingdom Hearts 2 Final Mix Item Tracker - Version 1.5.2
    .info Please use the #[a(href="next") 2.0 version]
    .info #[a(href="old") Click here] to use the pre-1.4 version
    .buttons
      +popup("About")
        include about.pug

      +popup("Help")
        include help.pug

      +popup("Co-op")
        include co_op.pug

      +popup("Settings")
        include settings.pug

      +popup("Legacy", "legacy")
        include legacy.pug
