h3 Left Click
p The item will become activated, lighting up to full opacity.
p When clicking on a world more than once, if applicable, a number will appear in the bottom right indicating how many visits have been completed. Drive, magic, and summons have similar systems for levels.
p After all visits have been completed, clicking again will either trigger a symbol to appear in the top left, for defeat of the Data Org/Absent Sillhouette fight, or reset the cell back to its original state.
p.footnote Note: 'Visits' for Atlantica/100 Acre Wood represent not whole world completion but segment completion. That is, song completion for Atlantica (including the tutorial), and pages for 100 Acre Wood.
p.footnote Note: When clicking on Sora's Level the counter will increase in increments of +1 from LV1-15, then +5 from LV15-50 and +10 from LV50-99.

h3 Right Click
ul.definitions
  li
    .base Hollow Bastion
    .definition Defeated Sephiroth
  li
    .base Olympus Coliseum
    .definition Cleared Pain and Panic Cup, Cerberus Cup, Titan Cup, Goddess of Fate Cup, Hades Paradox Cup
  li
    .base Disney Castle
    .definition Defeated Lingering Will/Terra
  li
    .base The World That Never Was
    .definition Defeated Roxas, Xigbar, Luxord, Saïx, Xemnas
  li
    .base Cavern of Remembrance
    .definition Cleared Depths, Mining Area, Engine Chamber, Transport to Remembrance
  li
    .base 100 Acre Wood
    .definition Torn Page Counter
  li
    .base Drive Forms
    .definition Growth Ability Counter
  li
    .base The Three Proofs
    .definition Obtained Bronze Crown, Silver Crown, Gold Crown

h3 Middle Click
p A red cross will be put over the item, intended to be used if a world/item is disabled in the seed.
