$font = Lato, Roboto, Arial, Helvetica, sans-serif

$font-color = black
$bg-color = white

$dark-font-color = white
$dark-bg-color = #212121

$bg-img = url("../img/bg.jpg")
$dark-bg-over = rgba(0, 0, 0, .5)

$center-items
  display flex
  align-items center

*
  box-sizing border-box

body
  @extend $center-items
  flex-direction column

  min-height 100vh
  padding-top 25px
  margin 0

  font-family $font
  color $font-color
  background #ccc no-repeat fixed center / cover
  background-image $bg-img

  transition color .25s

  /:root[theme="dark"] &
    color $dark-font-color
    background-image linear-gradient($dark-bg-over, $dark-bg-over), $bg-img

a
  color hsl(210, 80%, 45%)
  text-decoration-color transparent
  transition text-decoration-color .25s, color .25s

  &:hover
    color hsl(210, 80%, 40%)
    text-decoration-color initial

  /:root[theme="dark"] &
    color hsl(210, 90%, 68%)

    &:hover
      color hsl(210, 90%, 73%)

main
  display grid
  grid-template-columns repeat(2, auto)
  overflow-x auto

.grid
  display inline-grid
  grid-template-columns repeat(5, auto)

  max-width 100%
  padding 15px
  margin 5px 5px 0

  background-color $bg-color
  box-shadow 0 5px 25px rgba(0, 0, 0, .3)
  border-radius 4px 4px 0 0

  z-index 0
  user-select none
  transition background-color .25s, box-shadow .25s

  /:root[theme="dark"] &
    background-color $dark-bg-color
    box-shadow 0 5px 25px rgba(0, 0, 0, .5)

.item
  // So the number/nobody images can use absolute positioning
  position relative

  // Center the image within the cell
  @extend $center-items
  justify-content: center

  padding 7.5px

  &:after
    display flex
    align-items center
    justify-content center

    position absolute

    color red
    font-size 100px
    font-weight 300

    opacity 0
    transform translateY(10px)
    transition opacity .25s, transform .25s

    content "\d7"

  &.disabled
    .icon
      opacity 0.18

    &:after
      opacity 0.6
      transform scale(1.2)

    img:not(.icon)
      opacity 0

img
  width 100px
  opacity 0.35
  filter drop-shadow(1px 1px 5px rgba(0, 0, 0, .2))
  transition opacity .25s

  /:root[theme="dark"] &
    filter drop-shadow(1px 1px 5px rgba(0, 0, 0, .4))

$additional-img
  position absolute
  width 45px
  opacity 0
  transform translateY(4px)
  transition opacity .25s, transform .25s

  &.opaque
    transform translateY(0)

.grid
  .number
    @extend $additional-img
    // Position in bottom right
    right 0
    bottom 0
    width 50px

  .nobody
    @extend $additional-img
    // Position in top left
    top 5px
    left 0

  .secondary
    @extend $additional-img
    // Position in top right
    top 5px
    right 5px

    &.drive
      // Position in top left
      top 10px
      left 10px
      width 40px

  .opaque
    opacity 1

footer
  display flex
  justify-content center
  flex 1

  width 100%
  padding 15px 30px

  font-size 14px
  text-align center
  line-height 1.4
  background-color $bg-color

  z-index 1
  transition background-color .25s

  /:root[theme="dark"] &
    background-color $dark-bg-color

  p
    margin .5em 0

  > .container
    display flex
    flex-basis 1200px
    flex-direction column

    > *
      padding 5px

  .popup .content
    @extend $center-items
    justify-content center

    position fixed
    top 0
    right 0
    bottom 0
    left 0

    padding 25px

    background-color rgba(0, 0, 0, .45)

    opacity 0
    pointer-events none
    transition opacity .25s

    .body
      max-width 500px
      width 100%
      max-height 100vh
      padding 1em 2em

      text-align left
      background-color $bg-color

      border-radius 3px
      box-shadow 0 5px 25px rgba(0, 0, 0, .3)
      transform translateY(15px) scale(0.98)
      overflow-y auto
      transition background-color .25s, box-shadow .25s, transform .25s

      /:root[theme="dark"] &
        background-color $dark-bg-color
        box-shadow 0 5px 25px rgba(0, 0, 0, .5)

    &.active
      opacity 1
      pointer-events auto

      .body
        opacity 1
        transform none

.definitions
  padding-left 2em
  list-style none

  li
    &:before
      position: absolute;
      margin-left: -.75em;
      content: '·';

    .base
    .definition
      display inline-block

    .base
      font-weight bolder

      &:after
        content ' - '
        white-space pre-wrap

    .definition
      font-style italic

.footnote
  font-weight lighter

.buttons
  @extend $center-items
  justify-content center

button
  padding 7px 15px
  margin 0 5px

  font-family $font
  color hsl(210, 100%, 98%)

  background hsl(210, 70%, 55%)
  border-radius 3px
  border 0
  outline 0
  box-shadow 0 2px 5px hsla(210, 70%, 60%, 0.4)

  cursor pointer
  transition background-color .25s, transform .25s

  /:root[theme="dark"] &
    box-shadow 0 2px 5px hsla(210, 70%, 60%, 0.2)

  &:hover
    background hsl(210, 70%, 50%)
    transform translateY(-2px)

.row
  display flex
  align-items center

  :last-child:not(:first-child)
    margin-left auto

  input
    width 3em
    padding 4px 6px
    border 0
    border-radius 3px
    box-shadow 0 0 3px inset rgba(0, 0, 0, .35)

    &:last-child
      text-align right

    &.long
      width 9em

#room_id
#co_op_message
  display none

  &.active
    display block

.switch
  display inline-block
  width 3em
  height 1.5em

  input
    display none

.slider
  display flex
  align-items center

  height 100%
  padding-left .25em

  background-color #ccc
  border-radius 1em

  cursor pointer
  transition background-color .2s

  input:checked + &
    background-color hsl(210, 70%, 55%)

  &:before
    height 1em
    width 1em

    background-color white
    border-radius 50%
    box-shadow 0 2px 5px -2px black
    content ""

    transition margin-left .2s

    input:checked + &
      margin-left 1.5em
